/* Tree status */
.actionmenu_button .options {
    display: none;
}

.actionmenu_popup .options {
    width: 100%;
}

.actionmenu_button {
	position: absolute;
	top: 0;
	bottom: 0;
    right:5px;
    overflow: hidden;
}

.actionmenu_button.modifiable {
    padding-right: 7px;
    background: right center no-repeat url(../../images/actionmenu/status_picker.png);
}

.actionmenu_button.modifiable:hover {
    background-color: #cfcecd;
}

#course_control_panel .actionmenu_button.modifiable {
    padding-right: 7px;
    background: right center no-repeat url(../../images/actionmenu/status_picker.png);
}

#course_control_panel .actionmenu_button.modifiable:hover {
    background-color: #cfcecd;
}

#course_control_panel .actionmenu_button div.option {
    margin-top: 0px;
    border: none;
}

.actionmenu_button.modifiable,
.actionmenu_popup .option {
    cursor: pointer;
}

/* Actionmenu */
.actionmenu_popup {
    z-index: 9500;
    background: #fdfdfd;
}

.actionmenu_popup span.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer; cursor: hand;
}

.actionmenu_popup div.option  {
    background-repeat: no-repeat;
    display: block;
    text-align: left;
    border-bottom: 1px solid #aaa;
    background-position: 5px center;
    text-decoration: none;
    color: #000;
}

.actionmenu_popup div.option span {
    font-size: 0.9em;
    color: #787878;
    padding-left: 4px;
}

/* Status icons */
.actionmenu .option[status='Delete'] {
    background-image: url(../../images/actionmenu/status_delete.png);
}

/* UI UPDATE (July 3, 2013) */
#course_control_panel .actionmenu .option[status='On'], #course_control_panel .actionmenu .option[status='Off'] {
    background-position: center center;
    background-repeat: no-repeat;
}

.actionmenu_button div.option {
    font-size: 22px;
    line-height: 35px;
    height: 30px;
    width: 45px;
    margin-top: 9px;
    padding-left: 5px;
    color: #aaa;
}

.actionmenu_popup .option[status='active_visible']:before {
    content: "\e01b";
    color: #9eca51;
    font-size:32px;
}

.actionmenu_popup .option[status='visible']:before {
    content: "\e01b";
    color: #f9da0a;
    font-size:32px;
}

.actionmenu_popup .option[status='active']:before {
    content: "\e006";
    color: #9eca51;
    font-size:32px;
}

.actionmenu_popup .option[status='review']:before {
    content: "\e01c";
    color: #f9991c;
    font-size:32px;
}

.actionmenu_popup div.option[status='inactive']:before {
    content: "\e033";
    color: #55616b;
    font-size:32px;
}

.actionmenu .option[status='Preview']:before, .actionmenu .option[status='Open']:before {
    content: "\e030";
}

.actionmenu .option[status='Answers']:before, .actionmenu .option[status='Results']:before {
    content: "\e02d";
}

.actionmenu .option[status='Edit']:before{
    content: "\e02f";
}

.actionmenu .option[status='Duplicate']:before{
    content: "\e02e";
}

.actionmenu .option[status='Change Practice Sessions']:before{
    content: "\e616";
}

.actionmenu .option[status='Schedule']:before, .actionmenu .option[status='Schedule Tournament']:before {
    content: "\e031";
}

.actionmenu .option[status='password']:before {
    content: "\e024";
}

.actionmenu .option[status='mixed'] {
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 15px 15px;
}

.actionmenu div.option span.arrow {
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    position: absolute;
    right: 7px;
    margin-right: 2px;
}

.actionmenu_popup {
    font-family: lato;
    font-size: 14px;
}

.actionmenu_popup div.option {
    background-color: white;
    border-bottom: 1px solid #B6C3CA;
    overflow: hidden;
}

.actionmenu_popup div.option:before {
    font-size: 35px;
    float: left;
    height: 50px;
    margin: 20px 20px 0 10px;
}

.actionmenu_popup div.option[group='Course Status']:before {
    height: 60px;
}

.actionmenu_popup div.option[group='Actions']:before {
    margin-top: 0;
}

.actionmenu_popup span.close {
    color: #728089
}

.actionmenu_popup div.group {
    height: 40px;
    line-height: 40px;
    font-family:lato;
    font-weight:300;
    font-size: 12px;
    padding-left: 10px;
    text-transform: uppercase;
}

.actionmenu_popup div.group[group='Actions']{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.actionmenu_popup div.option[group='Actions'] {
    height: 30px;
    width: 35px;
    white-space: nowrap;
    overflow: hidden;
    padding: none;
    float: right;

    position: relative;
    top: -32px;
    margin-bottom: -25px;

    line-height: 30px;
    text-align: center;

    background: none;
    border-bottom: none;
}

.actionmenu_popup div.option[group='Actions']:hover {
    background: none;
}

.actionmenu_popup div.option[group='Actions']:before {
    color: #66757F;
    font-size: 25px;
    line-height: 30px;
    margin-left: 0px;
}

.actionmenu_popup div.option[group='Actions']:hover:before {
    color: #444;
}

.actionmenu_popup div.option span.title {
    display: block;
    margin-top: 10px;
    color: #BBC5CB;
}

.actionmenu_popup div.option span.title b {
    color: #68757e;
    font-weight: normal;
    font-size: 16px;
    margin-right: 10px
}

.actionmenu_popup div.option span.desc {
    color: #858585;
    font-weight: 300;
    display: block;
    margin-right: 10px;
}

.actionmenu_popup div.option.current {
    background-color: #EEEEEE;
}

.actionmenu_popup div.option:hover {
    background-color: #cee7fb;
}

.action-tip {
    color: #9E9E9E;
    background-color: #FFFFFF;
    border: 1px solid #CFCFCF;
    z-index: 9501 !important;
    padding: 5px;
    font-size: 14px
}
/* UI UPDATE END */

/* CUSTOM OVERRIDES */
body.student .control_panel_tree .option span.arrow, #course_pack .option span.arrow {
    display: none;
}

body.student .control_panel_tree .option, #course_pack .option{
    width: 27px;
}

body.student .control_panel_tree .scheduled {
    margin-right: 38px;
}
body.student .control_panel_tree .status_group {
    margin-right: 38px;
}

body.student .control_panel_tree .actionmenu .option[status='mixed'] {
    background-position: 9px;
}

#course_pack .option.icon {
    display: none;
}

#course_pack .option.icon[status='password'] {
    display: block;
}

.actionmenu_popup .option[status='On']:before {
    background:none;
    content: "\e037";
    color:#9eca51;
    font-size:12px;
}

.actionmenu_popup .option[status='Off']:before {
    background:none;
    content: "\e052";
    color:#f0363e;
    font-size:12px;
}

div.right.popover.status_popover {
    margin: 0;
    max-width: 355px;
}

div.left.popover.status_popover {
    margin: 0;
    max-width: 355px;
}

.popover.fader {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.popover.fader.in {
    opacity: 1;
}

div.option.custom {
    font-size: 0.8em;
    float: right;
    margin-right: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 26px;
    padding: 5px;
    background-color: #efefef;
    border: 1px solid #ccc;
}

div.option.custom:hover {
    text-decoration: underline;
    background-color: white;
}
