/* @override http://127.0.0.1:8000/media/css/edumacation/composer.css */

/* @override http://127.0.0.1:8000/media/css/edumacation/composer.css */

/* @override http://127.0.0.1:8000/media/css/edumacation/composer.css */

.cRow {
	background: #f6f6f6;
	margin-bottom: 12px;
	padding: 10px 18px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	position: relative;
}
.cRow ul {
	margin: 0;
	padding: 0;
}
.cRow ul li {
	list-style: none;
}
.cRow .cLabel,
.cRow .cInput {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.cRow.cTextInput .cLabel {
/*	width: 20%;*/
	min-width:90px;
}
.cRow.cTextInput .cInput {
	width: 100%;
}
.cRow.cTextInput .cLabel + .cInput {
/*	width: 80%;*/
}
.cRow.cClickInput .cLabel {
}
.cRow.cClickInput .cInput {
	width: 25px;
}

a#question_text_description
{
	display:block;
}
.cRow .cInput input,
.cRow .cInput textarea {
	margin: 5px 0;
	width: 100%;
	border-radius: 4px;
	display: inline-block;
	border: 1px solid #cecece;


	font-size: 1em;
	font-family: Helvetica;
	padding: 8px 14px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cRow .cInput input[type=radio],.cRow .cInput input[type=checkbox] {
	webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	-webkit-box-sizing: none;
	-moz-box-sizing: none;
	box-sizing: none;
	outline: none;
	border: none;
}

.cRow .cInput input[type=checkbox] {
	padding: 0px;
}


.cRow .cButton, .cInput .cButton, .cExtButton {
	font-weight: normal;
	text-decoration: none;
	color: #5c5c5c;
	margin: 5px 0;
	display: inline-block;
	font-size: 1em;
	font-family: Arial, Helvetica;
	padding: 6px 24px;

  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  border-radius:3px;


background:#d6dbdf;



}
.cRow .cButton:hover, .cInput .cButton:hover {



}
.thm_panel_body a.cButton:link, .thm_panel_body a.cButton:visited, .thm_panel_body a.cButton:active
{
	color:#5c5c5c;
}
a.cRow:link,a.cRow:active, a.cRow:hover
{
   color:#5c5c5c;
}

.cRow.cType_set .cSortHandle {
	color: #aaa;
	margin-right: 7px;
	text-shadow: 1px 1px 1px #e4f4fa;
	cursor: move;
}
.cRow.cType_set .cSortHandle:hover {
	color: #0b3852;
}
.cRow.cType_set .cClickSort a {
	font-size: 13px;
	padding: 6px 8px;
}
.cRow.cType_set .cClickSortUp {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.cRow.cType_set .cClickSortDown {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.cRow .cInput textarea {
	height: 80px;
}

.cRow input[type=checkbox] {
	margin-right: 14px;
}
.cRow input[type=radio] {
	margin-right: 14px;
}

.cRow.cType_radio .cInput ul li {
	display: table;
	width: 100%;
}
.cRow.cType_radio .cInput ul li .cRadioInput {
	border: none;
	outline: none;
}

.cRow.cType_radio .cInput ul li .cRadioInput,
.cRow.cType_radio .cInput ul li .cRadioLabel {
	display: table-cell;
	vertical-align: middle;
}
.cRow.cType_radio .cInput ul li .cRadioLabel label {
	display: block;
	cursor: pointer;
}
.cRow.cType_radio .cInput ul li .cRadioInput {
	width: 28px;
}

.cRow.cType_radio .cInput.cRadioInline ul li {
	float: left;
	margin-right: 30px;
	width: auto;
}
/* placeholder */
.cRow .cInput .cPlaceholder {
	position: absolute;
	top: 15px;
	left: 16px;
	color: #888;
}

/* validation */
.cRow .cValidation {
	display: none;

	width: 18px;
	height: 18px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	right: 8px;
	cursor: pointer;
}
.cRow .cType_set .cValidation {
	top: 0;
	margin-top: 18px;
}
.cRow .cValidation.valid {
	display: block;
	background: url(../../images/composer/symbol_check.gif);
}
.cRow .cValidation.invalid {
	display: block;
	background: url(../../images/composer/system-error-alt.png);
	z-index: 1000;
}

.cRow .cValidation span {
	display: none;
}
.cRow .cValidation:hover span {
	display: block;
	position: absolute;
	top: 10px;
	right: -10px;
	padding: 10px;

	background: rgba(40,40,40,0.9);
	border-radius: 4px;
	border: 1px solid #000;
	color: #fff;
	z-index: 1000;
	white-space: nowrap;
}

/* tooltip */
.cRow .cTooltip {
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-left: 7px;
}

.cRow .cTooltip:before
{
	content: "\e001";
	color:#1270b6;
	font-size:16px;
}

.cRow .cTooltip span {
	display: none;
}
.cRow .cTooltip:hover span {
	display: block;
	z-index: 1000;
	width: 300px;
	position: absolute;
	top: 10px;
	padding: 10px;

	background: rgba(40,40,40,0.9);
	border-radius: 4px;
	border: 1px solid #000;
	color: #fff;
}
.cRow.cType_picker a.cButton {
	border-radius: 0;
}
.cRow.cType_picker .cPicker {
	border-left: none;
	border-radius: 0;
}
.cRow.cType_picker .cPicker:hover {
	background-color: inherit;
	-webkit-box-shadow: 0px 0px 2px #777;
	-moz-box-shadow: 0px 0px 2px #777;
	box-shadow: 0px 0px 2px #777;
	background: #f6f6f6;
}

.cRow .upload {
    margin-right:5px;
}

.cRow .upload_item {
	background-color: inherit;
	-webkit-box-shadow: 0px 0px 2px #777;
	-moz-box-shadow: 0px 0px 2px #777;
	box-shadow: 0px 0px 2px #777;
	background: #f6f6f6;
    width:50%;
    margin-left:20px;
}

.cRow .upload_item p {
    padding: 10px 10px 0px 10px;
}

.cRow.cType_hidden {
	display: none;
}

.cRow.cType_html {
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

/* fieldset styling */
.cType_fieldset legend {
	padding: 0 10px;

}
.cType_fieldset.cCollapsible legend {
	padding-left: 0px;

	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}

.cType_fieldset.cCollapsible legend:before
{
	content: "\e045";
	color:#5c5c5c;
	padding-right:10px;
}

.cType_fieldset.cCollapsible.cCollapsed legend:before {
	content: "\e044";
	color:#5c5c5c;
	padding-right:10px;
}
.cType_fieldset.cCollapsible fieldset {
	margin: 0;
	padding: 8px;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.cType_fieldset.cCollapsible.cCollapsed fieldset {
	padding: 0 8px;
}
.cType_fieldset.cCollapsible.cCollapsed .cFieldsetData {
	display: none;
}
/* a little hack to make sortable widgets a little easier to move; this adds extra spacing
to the top and bottom of the sort list to give room for a dragged item to move over an existing item
adding padding to the element doesn't work with the jquery ui sortable plugin */
.cType_set .cSetWrapper.ui-sortable:before,
.cType_set .cSetWrapper.ui-sortable:after {
	content: "&nbsp;";
	opacity: 0;
}
.cType_upload .cInput .progress-bar {
    height: 3px;
    background-color: #4294f0;
}
.cType_upload .cInput .progress-animated {
    background-color: #4294f0;
}
.cType_upload .cInput .close.icon {
    display: inline-block;
    cursor: pointer;
    padding-left: 4px;
}
.cType_upload .cInput input {
    margin: 0; padding: 0;
    cursor: pointer;
    width: 300px;
    font-size: 40px;
}
.cType_upload .cInput {
    display: inline-block;
    margin-left: 20px;
}
.cRow .cType_upload .cInput, .cRow.cTextInput.cType_upload .cInput {
    width: 44%;
}
.cType_upload .cInput .fileupload-name {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.cRow.cType_button {
	margin-bottom: 0;
	border: none;
	background: none;
	padding: 0;
}
.cRow.cType_button input[type=button] {
	background:#c2cacf;
	color:#5c5c5c;
}
.cRow .is-disabled {
	color: #999;
}

#edit_course_panel .cRow
{

	padding:5px 25px;
}

#edit_course_panel .cLabel
{
	font-weight:bold;
}

#edit_course_panel .cType_checkbox .cLabel
{
	font-weight:normal
}
