
#control {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  overflow-y: scroll;
  bottom: 0;
  background: #36414a;
}

#control .minimize_button.active:before{
  color: #ffffff;
}
#control .minimize_button:before{
  color: #ffffff;
}

#control .panels {
  padding: 0;
}

#control .thm_panel_header {
  position: relative;
}

#control .thm_panel_body li.tree_row em
{
    color: #a5b1bb;
}

#control .thm_panel_body .tree > ol > .tree_row:first-child
{
}

#control .minimize_button
{
  margin-top: 10px;
}

#control .thm_panel .h_color:before {
  font-size: 18px;
  line-height: 15px;
}

#control .thm_panel_body li.tree_row em:before
{

    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 4px;
}

#control #control .thm_panel_body
{
  background: #616a72;
}

#control li.tree_row em:before
{
  font-size:18px;
}

#control .tree em
{
}

#control li.tree_row em[title='Course available']:before
{
  content: "\e05a";
}

#control li.tree_row em[title='Settings']:before
{
  content: "\e023";
}

#control li.tree_row em[title='Course Packs']:before
{
  content: "\e053";
}

#control li.tree_row em[title='Quick Reference Guide']:before
{
  content: "\e009";
}

#control li.tree_row em[title='Download Presentation Tool']:before
{
  content: "\e02a";
}

#control #control.thm_panel .thm_panel_header
{
}

#control #control.thm_panel .thm_panel_header span
{
}

#control #control .minimize_button:before
{
  color: #ffffff;
}

#control #control .thm_panel_footer
{
  padding-bottom: 10px;
  background: #3c4851;
}
#control #control .thm_panel_toolbar
{
  padding: 0px;
}

/** End of Course Panel **/
#control .thm_panel
{
  margin: 0px;
}
#control .thm_panel .thm_panel_header
{
   border: none;
   -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #293239;
}

/* Make outline visible on focus */
#control .thm_panel .thm_panel_header:focus
{
  z-index: 1;
}

#control .thm_panel_body {
  padding-top: 32px;
}

#control .thm_panel .thm_panel_header.rounded_bottom
{
  border-bottom:1px solid #3e464d;
}

#control .thm_panel .thm_panel_header h2
{
  color: #ffffff;
  font-size: 12px;
  line-height: 32px;
}

#control .thm_panel_toolbar
{
  background: #3c4851;
}

.student #control .thm_panel_toolbar
{
  padding-top: 0px;
  padding-bottom: 0px;
}

.student #control .thm_panel_toolbar.toolbar_active
{
  padding-top: 10px;
  padding-bottom: 10px;
}

#control .thm_panel_toolbar .icon
{
  background: transparent;
  border: none;
  position: relative;
}


#control .thm_panel_toolbar .icon.delete_button:before
{
  content: "\e058";
  font-size: 16px;
  vertical-align: -10%;
}

#control .thm_panel_toolbar .icon:before
{
  color: #8aacc5;
  vertical-align: -18%;
}

#control .thm_panel_body
{
  background: #3c4851;
}

#control .thm_panel .thm_panel_body {
  padding: 0px;
  color: #a5b1bb;
}

#control .control_panel_tree
{
  background: #41484e;
  border-top: 1px solid #293239;
}

#control .thm_panel_footer
{

  padding-bottom: 0px;
  background: #3c4851;
}
/** module item rows **/
#control .tree_row > div
{
  top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 15px 38px 10px 25px;
  border-bottom: 1px solid #293239;
  background: #3c4851;
}

#control .tree_row > div:focus
{
  z-index: 1;
}

#control .tree_row .radio, #control .tree_row .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

#control .thm_panel .thm_panel_header h2
{
  padding-left: 40px;
}

#control .thm_panel .thm_panel_header h2.beta
{
  display: inline-block;
  height: 32px;
  margin-left: 10px;
  padding-left: 0px;
  text-transform: none;
  color: #22bba6;
  font-weight: bold;
}

#control .thm_panel .thm_panel_header h2.beta .icon {
    padding-left: 0px;
    color: #22bba6;
    position: relative;
    top: 3px;
    font-size: 16px;
    margin-left: 3px;
}

#control .tree_row.folder > div
{
  background: #3c4851;
}

#control .thm_panel_body li.tree_row em
{
  color: #ffffff;
}

#unitree_control_panel .folder_items {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#unitree_control_panel li.tree_row em
{
  margin-top: -3px;
  margin-bottom: 0;
  padding-bottom: 2px;
}

.student #control .thm_panel_body li.tree_row em
{
  color: #ffffff;
}

#control .tree div.selectable.folder_details
{
  padding-left: 54px;
}
#control .tree .placeholderParent div.selectable.folder_details
{
  padding-left: 51px;
}

#control .tree_row:first-child
{
  border: none;
}

#control .tree_row > div input[type=checkbox]
{
  border: 1px solid #acabab;
  background: #3a3a3a;
}

#control .tree .empty
{
  color: #a5b1bb;
  padding: 20px;
  background: #3c4851;
}

/** status menu drop down box aka actionmenu**/
#control .actionmenu_button div.option
{
  border: none;
  background: none;
}

#control .thm_panel_body li.tree_row span.status.actionmenu
{
  padding-left: 10px;
  background: #3c4851;
  border-left: 1px solid #293239;
}

.student #control .thm_panel_body li.tree_row span.status.actionmenu
{
  background: #3c4851;
  border-left: 1px solid #293239;
  padding-left: 10px;
  padding-right: 10px;
}

#control .actionmenu_button div.option span.arrow
{
  background: none;
  line-height: 27px;
}

#control .actionmenu_button div.option span.arrow:before
{
  content: "\e045";
  color: #ffffff;
  font-size: 12px;
}

#control .actionmenu .colorbar
{
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 3px;
  border-left: 1px solid #3a464f;
  border-right: 1px solid #3a464f;
}

#control .actionmenu .option[status='active_visible'] .colorbar
{
  background: #9eca51;
}

#control .actionmenu .option[status='visible'] .colorbar
{
  background: #f9da0a;
}

#control .actionmenu .option[status='active'] .colorbar
{
  background: #9eca51;
}

#control .actionmenu .option[status='review'] .colorbar
{
  background: #f9991c;
}

#control .actionmenu .option[status='inactive'] .colorbar
{
  background: transparent;
}

/** status colors **/
#control .actionmenu .option:before {
  color: #66757F;
}

#control .actionmenu .option[status='active_visible']:before {
  content: "\e01b";
  color: #9eca51;
}

#control .actionmenu .option[status='visible']:before {
  content: "\e01b";
  color: #f9da0a;
}

#control .actionmenu .option[status='active']:before {
  content: "\e006";
  color:#9eca51;
}

#control .actionmenu .option[status='review']:before {
  content: "\e01c";
  color: #f9991c;
}

#control .actionmenu div.option[status='inactive']:before
{
  content: "\e033";
  color: #a5b1bb;
}

#control .actionmenu div.option[status='mixed']:before
{
  content: "\e040";
  color: #a5b1bb;
}

#control .actionmenu div.option[status='Pending']
{
  background: center center no-repeat url(../../images/actionmenu/folderspin.gif);
}

#control .actionmenu div.option[status='Pending'] span.arrow
{
  display:none;
}

/** Status Menu End **/
/** Course Control Panel Button **/
#control #course_control_panel .actionmenu_button div.option
{
  width: 45px;
  height:35px;
  background: #293239;
  border: none;
  padding-left: 10px;
  -webkit-border-radius: 3px;

  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-top: 4px;
}

#control #control .actionmenu_button div.option span.arrow
{
  line-height: 32px;
  padding-right: 3px;
}

/** remove colored bar **/
#control #control .actionmenu_button div.option span.colorbar
{
  display: none;
}

#control #course_control_panel .actionmenu .option[status='On']:before
{
  content: "\e037";
  color: #9eca51;
  font-size: 14px;
}

#control #course_control_panel .actionmenu .option[status='Off']:before
{
  content: "\e052";
  color: #f0363e;
  font-size: 12px;
}

#control #control .actionmenu .option
{
}

#control #course_control_panel .actionmenu_button.modifiable
{
  background: none;
  border: none;
}

/** Folder Icons **/
#control li.folder.collapsed > .folder_details em span:before
{
  color: #a5b1bb;
}

#control li.folder.collapsed > .folder_details a.toggle_hide:before
{
  color: #a5b1bb;
}

#control li.folder > .folder_details em span:before
{
  color: #a5b1bb;
}

#control li.folder > .folder_details a.toggle_hide:before
{
  color: #a5b1bb;
}

.app-styles ol.folder_items {
  margin-bottom: 0;
}

