/* @override http://127.0.0.1:8000/media/css/edumacation/course.css */

/* @override http://localhost:8080/media/css/course/course.css */

/* @override http://localhost:8080/media/css/course/course.css */
.jquery_week_calendar_div
{
	width:405px;
	height:235px;
}

.course_session_select_table
{
	margin-left: 14px;
}

.course_session_select
{
	margin-left: 8px;
	width: 381px;
}

#course_anonymous_panel div.thm_panel_body textarea {
	background: #fff;
	-webkit-box-shadow: inset 0 0 5px #6aa2d6;
	-moz-box-shadow: inset 0 0 5px #6aa2d6;
	border: 1px solid #154173;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	margin: 0;
	position: relative;
	font-family: Arial, sans-serif;
	color: #555;
	font-size: 12px;
	width: 140px;
	height: 29px;
	margin: 5px 0;
}

a.status_panel_bt {
	color: #4B7EA6;
	text-decoration: none;
	font-family: helvetica, arial;
	font-weight: normal;
}

p.status_panel_text {
	color: #444;
    font-family: futura,  helvetica, arial;
	margin: 1em 0;
}

#course_course_settings_dialog_dialog #module_activation_div tr td {
	vertical-align: middle;
	text-align: center;
}
#modules li label {
	display: block;
	line-height: 20px;
	padding: 10px;
	background: #f6f6f6;

border: 1px solid #dfdfdf;
	margin-bottom: 4px;
	text-transform: capitalize;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	font-weight: bold;
	cursor: pointer;
    position: relative;
}
#modules li label input {
	position: absolute;
    right: 20px;
    top: 15px;
}

#course_settings_dialog p {
	padding: 5px 0;
	font-size: 12px;
	color: #000;
}

/* Do not clip help tooltips */
#settings {
    overflow: visible;
}
#edit_course_panel {
	overflow: visible;
}
#edit_course_panel .thm_panel_body {
	overflow: visible;
}

#delete_course {
	width: 150px;
	margin: 0px auto;
	display: block;
	background:#b65d5d;
	color:#ffffff;
	border:none;
	height:38px;
	line-height:38px;
	padding:0px;
}



#student_list_panel a.bt_mail {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-indent: -5000px;
    background-image:url(../../images/edumacation/buttons/button_email.png);
}

.thm_panel[module_id=course] .dataTables_controls .refresh {
	width: 75px;
	height: 25px;
	position: absolute;
	right: 5px;
	top: 5px;
	background-image: url(../../images/gradebook/bt_update.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}
.thm_panel[module_id=course] .dataTables_controls .refresh:hover {
	background-position: 0 -25px;
}
.thm_panel[module_id=course] .dataTables_controls .refresh:active {
	background-position: 0 -50px;
}

#course_student_list #attendance_bar span {
    text-align: center;
    display: block;
}
#course_student_list #attendance_bar .html_bar {
    border: 1px solid #aaa;
    margin: .5em 0;
}

/* show answered icon for student answer items in control panel */
.layout#control .tree ol > li div .answered {
    background-image: url(../../images/edumacation/thm_tree/icon_active.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -3000px;

    display: block;
    width: 14px;
    height: 100%;

    position: absolute;
    bottom: 0;
    right: 0;
}


/* COURSE PACKS */
#course_pack h1 {

	background-repeat: no-repeat;
	background-position: top left;
	line-height: 60px;

	font-size: 16px;
	font-weight: bold;
	color:#5c5c5c;
	text-align:center;
}
#course_pack h1.icon:before
{
	font-size:32px;
	content: "\e055";
	vertical-align:-30%;
	padding-right:15px;

}

#course_pack .course_pack_import h1 {

}
#course_pack .course_pack_create h1:before,
#course_pack .course_pack_edit h1:before {

}
#course_pack p {
    margin: .5em 1em;
}

/* add lock icon for locked course packs */
#course_pack .thm_tree .item .status .option[status='password'] {
    background-image: url(../../images/edumacation/status_password.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: 8000px;
}

#course_pack .folder_items {
    overflow-y: auto;
}

/* course pack form styling */
#course_pack p.error {
    color: red;
    font-weight: bold;
}
#course_pack .select_all {
    background: #fafafa;
    border: 1px solid #ddd;
    margin-bottom: .4em;
    display: block;
    padding: .5em 0;
    text-align: center;
}
#course_pack .cForm #cId_category .cLabel {
    padding-right: 10px;
    width: auto;
}
#course_pack .cForm #cId_category .cInput {
    width: auto;
}

.mobile_app_notification {
    padding: 20px 0px;
    position: relative;
}

.mobile_app_notification .close_notification {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.mobile_app_notification .close_notification:hover span {
    background-color: white;
}

ul#modules .betainfo {
    background-color: #22bba6;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
    color: white;
    text-transform: none;
}

input[type="radio"].lms, input[type="checkbox"].lms {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

input[type="radio"].lms + label, input[type="checkbox"].lms + label {
    cursor: pointer;
    border: 1px solid;
    border-color: #CED0CF;
    color: #A0A0A0;
}

input[type="radio"].lms:hover + label{
}

input[type="radio"].lms:active + label{
    background-color: #fff;
}

input[type="radio"].lms:checked + label{
    background-color: #EFEFEF;
    color: #555;
}

input[type="checkbox"].lms:checked + label{

}

.lms-radioleft {
    overflow: hidden;
    min-width: 50%;
    float: left;
}

.lms-radioleft label{
    margin-top: -12px;
    display: block;
}

.lms-radioright label{
    margin-top: -12px;
    display: block;
}

.lms-radioright{
    overflow: hidden;
}

.lms{
    font-size: 40px;
    margin-left: 55px;
    font-weight: normal;
}

.d2l_sync_form{
    padding-left: 20px;
    padding-right: 20px;
}

.lms-leftcolumn {
    width: 300px;
    float: left;
    min-height: 100%;
}

.lms-rightcolumn {
    width: 300px;
    float: right;
    min-height: 100%;
}

.lms-radiotext{
    margin: -10px 0px 10px 0px;
    font-weight: normal;
}

.lms-attendance{
    border: 1px solid;
    border-color: #CED0CF;
    margin-top: 10px;
}

.lms-attendance p{
    display: inline-block;
    padding: 6px 10px 6px 10px;
    margin: 0 0 0 0;
}

.lms-attendance label{
    display: inline-block;
    padding-right: 10px;
}
