/* @override http://localhost:8000/media/css/gradebook/gradebook.css */

/* @override http://localhost:8080/media/css/gradebook/gradebook.css */

/* @override http://localhost:8080/media/css/gradebook/gradebook.css */
.gradebook_table {
	font-size: 12px;
    margin-top: 10px;
}
#gradebook_gradebook_panel_li .thm_panel_body {
	padding: 0;
}
.thm_panel[module_id=gradebook] .dataTables_controls .refresh {
	width: 32px;
	height: 32px;
	position: absolute;
	right: 5px;
	top: 5px;
	text-align:center;
	line-height:32px;
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	  border: 1px solid #b8c3c9;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  border-radius:3px;


/** CSS3 gradients **/

  background-color: #FFFFFF;
      background-image: -webkit-linear-gradient(top, #FFFFFF, #f5f7f9);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#f5f7f9));
    background-image: -moz-linear-gradient(top, #FFFFFF, #f5f7f9);
    background-image: -o-linear-gradient(top, #FFFFFF, #f5f7f9);
    background-image: linear,to bottom, #FFFFFF, #f5f7f9;
    -moz-box-shadow: 0 1px 0 #ededed; /* drop shadow */
-webkit-box-shadow: 0 1px 0 #ededed; /* drop shadow */
box-shadow: 0 1px 0 #ededed; /* drop shadow */


/** CSS3 gradient end **/
}
/** TODO hack remove at some point and add icon class to dom element **/
.dataTables_controls .refresh:before
{
	font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;

}

.dataTables_controls .refresh:before
{
	content: "\e03b";
	color:#5c5c5c;
	font-size:20px;
	vertical-align:-25%;
}

.thm_panel[module_id=gradebook] .dataTables_controls .refresh:hover {
	  background:#ffffff;
  color:#5c5c5c;
-webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.thm_panel[module_id=gradebook] .dataTables_controls .refresh:active {

}
#gradebook_gradebook_panel_li ul.thm_tab_list {
	padding-top	: 7px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#gradebook_gradebook_panel_li ul.thm_tab_list li:first-child {
	margin-left: 10px;
}
.thm_panel[module_id=gradebook] .dataTables_wrapper table {
	width: 100%;
}
.paging_two_button a {
	border: none;
}
.paging_two_button a span {
	float: left;
}
.paging_two_button a span.ui-icon-circle-arrow-w {
}
.paging_two_button a span.ui-icon-circle-arrow-e {
}
.thm_panel[module_id=gradebook] .dataTables_paginate.paging_full_numbers span.fg-button {
	padding: 2px;
	cursor: pointer;
}
 position the footer pagination
#course_content .panels > li[module_id=gradebook] .dataTables_wrapper .fg-toolbar:last-child {
	text-align: right;
	margin-top: 10px;
}
#course_content .panels > li[module_id=gradebook] .ui-tabs-panel {
	padding: 0 !important;
}
.gradebook_table thead tr th {
	font-weight: normal;
	font-size: 11px;
}
.gradebook_table thead tr th .ui-icon {
	position:absolute;
	left:2px;
	top:7px;
	background-color: transparent;
}

.gradebook_table td
{
	height:32px;
	vertical-align:middle;

}

.gradebook_table tbody td,
.gradebook_table tfoot td {
	padding: 2px 0 2px 6px;
}
.gradebook_table tfoot td, .grades_table tfoot {
	border-top: 1px solid #889ab6;
	font-weight: bold;
	padding-top: 4px;
}

.gradebook_table tbody td
{

}

.gradebook_table th {
	padding: 2px 5px 2px 0 !important;
	cursor: pointer;
	text-align: center;
}
.gradebook_table th .ui-icon {
	padding: 0 !important;
}
#Export_to_Excel ul {
	width: 100% !important;
	margin: 10px 10px;
	margin-left: 50%;
	position: relative;
	left: -160px;
}
#Export_to_Excel ul td.thm_form_table_name {
	width: 60px !important;
}
#Export_to_Excel button {
	width: 180px;
	padding: 8px 0;
}
#Export_to_Excel ul td .thm_form_button_input {
	margin-top: 4px;
}
.gradebook_student_list td:first-child,
.gradebook_item_list td:first-child {
	overflow: hidden !important;
	padding: 5px;
}
.gradebook_table td input.custom_input {
	width: 25px;
    vertical-align: middle;
    height: 25px;
    line-height: 25px;
	padding: 2px 2px;
	border: 1px solid #b8c3c9;
	-webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  border-radius:3px;
  text-align:center;
}
.gradebook_table td input.custom_input.error {
    background: #b65d5d;
    color:#ffffff;
}
.status_small {
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-transform: capitalize;
	text-indent: 25px;
}
.status_regular,
.module_id {
	text-transform: capitalize;
	text-indent: 20px;
	line-height: 16px;
	background-repeat: no-repeat;
	display: inline-block;
}

.status_regular
{
	text-indent:0px;
}




.status_active:before {
	content: "\e01b";
	padding-right:10px;
	font-size:18px;
	color:#7cc028;
}


.status_answered:before {
	content: "\e037";
	padding-right:10px;
	font-size:16px;
	color:#7cc028;
}

.status_upcoming:before {
	content: "\e038";
	padding-right:10px;
	font-size:16px;
	color:#2173c0;
}
.status_unanswered:before {
	content: "\e000";
	padding-right:10px;
	font-size:16px;
	color:#cc2d2d;
}

.module_id.icon:before
{
	padding-right:10px;
}

.module_id.demo:before {
	color: #e19d3b;
}
.module_id.question:before {
	color:#f0363e;
}
.module_id.discussion:before {
	color:#9966cc;
	content: "\e02c";
}

.module_id.pages:before {
	color: #bbbbbb;
	content: "\e064";
}
.module_id.tournament {
	background-image: url("../../images/gradebook/gradebook_tournament.png")
}

.thm_panel[module_id=gradebook] .dataTables_controls {
	background: #ffffff;
	height: 45px;
	position: relative;
}
.thm_panel[module_id=gradebook] .dataTables_info,
.thm_panel[module_id=gradebook] .dataTables_filter {
	position: absolute;
	top: 7px;
	left: 7px;
}
.thm_panel[module_id=gradebook] .dataTables_info {
	top: 13px;
}
.thm_panel[module_id=gradebook] .dataTables_filter input {
	width: 120px;
	height:25px;
	border: 1px solid #b8c3c9;
	-webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  border-radius:3px;
}
.thm_panel[module_id=gradebook] .dataTables_paginate {
	position: absolute;
	right: 7px;
	top:5px;
    margin-bottom:5px;
}
.summary {
    margin-right:5px;
	position: relative;
}
.summary h2 {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #000;
	display: inline-block;
}
.summary .reload {
	position: absolute;
	top: 25px;
	right: 30px;
	display: block;
	background: #f4fbf4;
	border: 1px solid green;
	-webkit-border-radius: 8px;
	padding: 9px 20px;
}
.summary ul {
	margin: 6px 10px;
}

.gradebook_student_details .gradebook_unknown_grade {
    border-bottom: 1px dotted darkblue;
    color: darkblue;
    cursor: help;
}

#course_item_selection .folder_items {
	overflow-y: auto;
}
.gradebook_table td
{
	height:42px;
	line-height:42px;
	border-bottom:1px dotted #dddddd;
	padding-top:10px;
	padding-bottom:10px;
}

.gradebook_table tr.even td
{
	background:#f6f6f6;
}

.gradebook_table tr td.sorting_1
{
	background:#f1f7fc;
	border-bottom:1px dotted #c4dbec;
}

.gradebook_table tr.even td.sorting_1
{
	background:#e4f0f9;
	border-bottom:1px dotted #c4dbec;
}
/* gradebook column sizing details */
.gradebook_table.gradebook_student_details th:nth-child(3) { width: 85px; }
.gradebook_table.gradebook_student_details th:nth-child(4) { width: 85px; }
.gradebook_table.gradebook_student_details th:nth-child(5) { width: 120px; }

.gradebook_table.gradebook_item_details th:nth-child(5) { width: 85px; }
.gradebook_table.gradebook_item_details th:nth-child(6) { width: 85px; }
.gradebook_table.gradebook_item_details th:nth-child(7) { width: 78px; }

.gradebook_table.gradebook_item_list th:nth-child(2) { width: 80px !important; } /* Percent Average */
.gradebook_table.gradebook_item_list th:nth-child(3) { width: 90px !important; } /* Percent Answered */
.gradebook_table.gradebook_item_list th:nth-child(4) { width: 75px !important; } /* Status */
.gradebook_table.gradebook_item_list th:nth-child(5) { width: 75px !important; } /* Correct Weight */
.gradebook_table.gradebook_item_list th:nth-child(6) { width: 75px !important;} /* Participation Weight */
.gradebook_table.gradebook_item_list th:nth-child(7) { width: 180px !important;} /* Timestamp */
.gradebook_table.gradebook_item_list td:nth-child(2) { text-align: center; }
.gradebook_table.gradebook_item_list td:nth-child(3) { text-align: center; }
.gradebook_table.gradebook_item_list td:nth-child(4) { text-align: left; }
.gradebook_table.gradebook_item_list td:nth-child(5) { text-align: center; }
.gradebook_table.gradebook_item_list td:nth-child(6) { text-align: center; }
.gradebook_table.gradebook_item_list td:nth-child(7) { text-align: center; }

.gradebook_item_list th {
    white-space: nowrap;
}

/* attendance **/

.gradebook_table.gradebook_attendance_list th:nth-child(2) { width: 80px !important; } /* attendance */
.gradebook_table.gradebook_attendance_list th:nth-child(3) { width: 180px !important; } /* Timestamp */

/* attendance student details */

.gradebook_table.gradebook_attendance_student_details th:nth-child(2) { width: 80px !important; } /* attendance */
.gradebook_table.gradebook_attendance_student_details th:nth-child(3) { width: 120px !important; } /* status */



/** Gradebook updates **/

.gradebook_table .ui-state-default, .gradebook_table .ui-widget-content .ui-state-default
{
	background:none;
	border:none;
	border-bottom: 1px solid #dddddd;
	text-transform:uppercase;
	text-align:left;
}
/** icon font hack **/
/*.gradebook_table .DataTables_sort_wrapper:before
{
	font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;

}*/

.gradebook_table .DataTables_sort_wrapper
{
	text-align:left;
	padding-left:20px;
	line-height: 29px;
}
.gradebook_table
{
	margin-top:10px;
    margin-bottom:10px;
}

/* attendance */
.delete-attendance-item {
	width: 30px;
	/*height: 20px;*/
	margin-right: 15px;
	padding: 0px;
	min-width: 0px;
	background:none;
}

.delete-attendance-item:before
{
	color:#5c5c5c;
	font-size:16px;
}

.fail_tooltip {
    color: #1171b9;
}
