@font-face {
  font-family: 'Futura';
  src: local('Futura');
  src: url('../../fonts/Futura.ttc');
  font-weight: normal;
  font-style: normal;
}

.thm_footermsg_div
{
  background-color: transparent;
  margin-left:auto;
  margin-right:auto;
  height:18px;
  width: 100%;
  bottom: 2px;
  position: absolute;
  z-index: 10001;
}

.thm_footermsg_table
{
  margin-left: auto;
  margin-right: auto;
  height: 18px;
}

.thm_footermsg_left
{
  background-image: url(../../images/edumacation/footer/web_footermsg_left.png);
  background-repeat: no-repeat;
  width: 3px;
}

.thm_footermsg_middle
{
  background-image: url(../../images/edumacation/footer/web_footermsg_bg.png);
    background-repeat: repeat-x;
    padding-left: 5px;
    padding-right: 5px;

    color: #444;
    font-family: futura,  helvetica, arial, sans-serif;
    font-size:12px;
    line-height: 18px;
}

.thm_footermsg_right
{
  background-image: url(../../images/edumacation/footer/web_footermsg_right.png);
    background-repeat: no-repeat;
    cursor: pointer;
  width: 18px;
}

.tournament_list_item_view {
  position: relative;
  margin-left: 50%;
  width: 600px;
  left: -300px;
  text-align: center;
  padding-top: 3em;
}

.tournament_list_item_view .tourn_header {
  width: 100%;
  font-size: 2.0em;
}

.tournament_list_item_view .tourn_vs>div {
  position: absolute;
  width: auto;
  font-size: 1.6em;
}

.tournament_list_item_view .tourn_left {
  left: 0px;
}
.tournament_list_item_view .tourn_right {
  right: 0px;
}
.tournament_list_item_view .tourn_middle {
  position: absolute;
  margin-left: 50%;
  width: 40px;
  left: -20px;
}
.tournament_list_item_view .tourn_start {
  margin-top: 2em;
  font-size: 1.3em;
}
/* line 16, ../../sass/lobby_mockups/lobby.scss */
body { background: #ffffff; }

/* line 21, ../../sass/lobby_mockups/lobby.scss */
html { margin: 0; padding: 0; }

.course_search_view {
  padding-bottom: 60px;
}

body.student .unavailable_courses {
  display: none;
}

.availability {

  display: block;
  padding: 10px 0px;

  margin: 10px 0px;
  color: #888888;

  font-family: "lato";
  font-size:20px;
  font-weight:300;
}

.lobby_course_lists, .course_search_page {
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.lobby_course_list_wrapper, .course_search_page, .lobby_nav {
  padding: 0 40px;
}

.availability>div {
  padding: 0px 0px;
}

.course_search_results {
  padding: 30px;
}

.course_search_results table {
  width: 100%;
}

.list-warning {

  background-repeat: no-repeat;
  background-position: middle left;
  padding: 4px 0px;
  margin-left: 10px;
  color: #666666;
}

.list-warning.icon:before
{
  font-size:16px;
  color:#b65d5d;
  padding-right:10px;
}

#course_search_container {
  float: left;
  margin-top: 18px;
}
#course_selection_list:empty {
  display: none;
}

.gradeLabel {
  position: absolute;
  bottom: 14px;
  text-align: center;
  width: 100%;
  color: #C3C3C3;
}

.dark_list .select2-search {
  /*display: none;*/
}

.thm_tab_list
{
  border-bottom: 1px solid #b8c3c9;
}

.gradebook_table {
  width: 100%;
}

.user_settings {
  width: 675px;
  position: relative;
  left: 50%;
  margin-left: -337px;
}

.expiry, .anonymous_user {
  background: #d5d5d5;
  color: #646464;
  padding: 8px;
  border-radius: 3px;
  position: relative;
  top: 2px;
}

.anonymous_user {
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
  display: none;
}

.placeholder_control {
  color: #999;
  display: none;
  padding-top: 90px;
  text-align: center;
  font-size: 14px;
}

/* placeholder_content and placeholder_note go in placeholder */
.placeholder {
  display: none;
}

.placeholder_content {
  color: #1F252B;
  display: block;
  padding-top: 90px;
  text-align: center;
  font-size: 14px;
}

.fullscreen .placeholder_content {
  font-size: 18px;
}

.placeholder_content .fullscreen_content {
  display: none;
  cursor: pointer;
}

.fullscreen .placeholder_content .fullscreen_content {
  display: block;
}

.placeholder_note {
  color: #2E373F;
  display: block;
  text-align: center;
  font-size: 12px;
}

.placeholder_control:first-child, .placeholder:first-child {
  display: block;
}

.course_view {
  min-width: 920px;
  width: 100%;
  background: #ebebeb;
  position: absolute;
  top: 0;
  bottom: 0;
}

#course_wrapper {
  min-width: 971px;
  width: 100%;
  height: 100%;
  float: left;
  overflow-y: auto;
  position: relative;
  background: #ebebeb;
}

#course_content {
  margin-left: 320px;
  height: 100%;
  background: #ebebeb;
/*
  -moz-transition: margin-left 0.2s;
  -webkit-transition: margin-left 0.2s;
  -o-transition: margin-left 0.2s;
  transition: margin-left 0.2s;*/
/*
  -moz-transition: padding-top 0.2s;
  -webkit-transition: padding-top 0.2s;
  -o-transition: padding-top 0.2s;
  transition: padding-top 0.2s;*/
}

#course_content .thm_panel {
  margin-bottom: 10px;
}

#gradebook_content, #students_content, #gradebook_beta_content {
  padding-top: 10px;
 /* width: 100%;*/
  display: none;
}

.available-list {
/*  overflow-x: hidden;*/
}



div.menu li {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
}

div.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 30px;
}

div.menu a, div.menu a:hover, div.menu a:active, div.menu a:visited {

}


div.item-notification : {
  color: #BBBBBB;
}

.danger
{
  color:#802020;

}

.affirmative
{
  color:#2c891e;
}





/** Main navigation **/

#mainnav
{
  float:left;
}
#mainnav.nav ul
{
  margin-left:40px;
}
#mainnav ul li { float: left;margin-right:30px; }


#mainnav a
{
  display: block;
  width: 120px;

  text-align: center;
  color: #a5b1bb;
  margin-top: 19px;

-webkit-border-radius: 3px;
border-radius: 3px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
line-height: 32px;
height: 32px;
text-decoration: none;
font-family: Helvetica, Arial, sans;

}

#mainnav a:hover { color: #ffffff; }

#mainnav a:active { color: #ffffff; }

#mainnav .active a {
  cursor: default;
  background:#ef5227;
  color: #ffffff;
}


/*mtrpcic*/
#mainnav ul li.active a:before{
  font-size: 25px;
}

/*** Main Navigation End ***/

.connection img { position: absolute; top: 20px; right: 5px; }

.connection img.sending {
  position: absolute;
  top: 41px;
  right: 4px; }


.user_settings .select2-container  {
  margin-left: 22px;
  width: 240px;
}

.user_settings .select2-dropdown-open .select2-choice,
.user_settings .select2-container .select2-choice,
.user_settings .select2-container .select2-drop {
  background-color: #E6E5E5;
  color: #6F6F6F;
  background-image: none;

}
.user_settings .select2-container .select2-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #b7b7b7;
}

.user_settings .select2-container .select2-drop {

}

.user_settings .info {
  margin-top: 10px;
}

/*** Sub Navi **/

#subnav {
  width: 100%;
}

#subnav div.title {
    font-family: lato;
    font-weight: 300;
    font-size: 28px;
    color:#5c5c5c;
    margin-top:20px;
}

#subnav div.add-course {
    float: right;
}

/*
#subnav a {
  display: block;
  width: 100px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #aeaeae;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #646464;
  font-size: 12px; }

#subnav a:hover {
  background: #e6e6e6;
  color: #000; }

#subnav ul li.active a {
  background: #b7b7b7;
  color: #646464; }


#subnav ul li a#add_course  {
  width: 30px;
  background: #1371bb;
  border-color:#1371bb;
  color:#FFFFFF;
  font-size: 2em;
  font-weight: lighter;
  line-height:93%;
}


#subnav ul li a#add_course:hover
{
}
*/
/*** Sub Navi End **/
/**** main ***/

#wrapper {
  width: 100%;
  margin-top: 70px;
  overflow-y: hidden;
  position: absolute;
  top: 6px;
  bottom: 35px;
}

/*** Main End ***/

/*** Course Listing **/
.course-list-item:first-child {
  margin-top: 20px;
}

.course-list-item {
  margin: 0;
  height: 120px;
  background: #ffffff;
  border-top:1px solid #ececec;
}

.course-list-item .edit-course {
  display: none;
}

body.student .course-list-item .edit-course {
  display: inline-block;
}

a.disenroll_btn {
  width:40px;
  line-height: 120px;
  display:block;
}

a.disenroll_btn.icon:before {
  content: "\e000";
  color:#d8d8d8;
  font-size:16px;
}

a.disenroll_btn.icon:hover:before {
  content: "\e000";
  color:#b65d5d;
}

a.disenroll_btn.icon:focus:before {
  content: "\e000";
  color:#b65d5d;
}

a.disenroll_btn.icon:hover {
  text-decoration: none;
}

a.disenroll_btn.icon:focus {
  text-decoration: none;
  outline: 0;
}
.course-list-item .info {
  max-width: 80%;
  display: inline-block;
}

.course-list-item .info h3 {
  color: #5c5c5c;
  padding: 0 15px 0 0;
  margin: 20px 0 15px 0;
  font-family: Lato, sans-serif;
  font-weight:300;
  font-size:24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-list-item .info h3:before {
  padding-right:20px;
}

.course-list-item .info span.subhead {
  font-family:lato, sans-serif;
  font-weight:300;
  font-size: 12px;
  color: #c4c4c4;
  text-transform: uppercase;
  white-space: normal;
  display: inline-block;
  overflow: hidden;
  max-height: 4em;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.unavailable_courses_list .info h3 {
  color:#c4c4c4;
}

.course-list-item .status {
  position: absolute;
  right: 0;
  top: 0;
  height: 90px;
  width: 110px;
  padding-right: 20px;
}

.course-list-item .grade {
  position: absolute;
  right: 110px;
  top: 0px;
  height: 90px;
  width: 90px;
  border-left: 1px solid #e2e2e2;
  text-align: center;
  padding-top: 8px;
}

.course-list-item .status button {
  position: relative;
  right: 38px;
  margin-top: 38px;
  display: block;
}

.course-list-item .notification {
  display:none;
}

.course-list-item.hover .status span.enter {
  display:block;
  color:#5c5c5c;
  margin-top: 38px;
 }

/* line 402, ../../sass/lobby_mockups/lobby.scss */
.course-list-item.hover .status span.date { display: none; }

/* line 407, ../../sass/lobby_mockups/lobby.scss */
.course-list-item.hover .status {  }

/* line 412, ../../sass/lobby_mockups/lobby.scss */
.course-list-item.hover .info h3 { color: #1171b9; }

/*** Jquery hover styles End **/
/*** Course Listing End **/
/*** Settings ***/
/* line 422, ../../sass/lobby_mockups/lobby.scss */
.column { float: left; width: 315px; padding: 5px; margin: 10px; margin-right: 0px; }

/* line 433, ../../sass/lobby_mockups/lobby.scss */


/* line 444, ../../sass/lobby_mockups/lobby.scss */
.section h2 { font-size: 14px; font-weight: normal; text-align: center; }

/* line 452, ../../sass/lobby_mockups/lobby.scss */
.section input { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; border: none; padding: 5px; background: #e6e5e5; border-bottom: 1px solid #fff; border-top: 1px solid #b7b7b7; color: #6f6f6f; display: block; margin-top: 10px; width: 240px; margin-left: auto; margin-right: auto; }

/* line 470, ../../sass/lobby_mockups/lobby.scss */
.switch-wrapper { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #e6e5e5; width: 70px; text-transform: uppercase; color: #c8c6c6; font-size: 12px; height: 23px; line-height: 23px; text-indent: 5px; border-bottom: 1px solid #fff; border-top: 1px solid #b7b7b7; margin: 5px; }

/* line 489, ../../sass/lobby_mockups/lobby.scss */
.switch-wrapper .on .switch { float: right; }

/* line 494, ../../sass/lobby_mockups/lobby.scss */
.switch-wrapper.on { background: #1171b9; color: #fff; }

/* line 501, ../../sass/lobby_mockups/lobby.scss */
.switch-wrapper .off .switch { float: left; }

/* line 505, ../../sass/lobby_mockups/lobby.scss */
.switch { display: block; border-top: 1px solid #fff; border-bottom: 1px solid #b7b7b7; width: 30px; height: 21px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #fefefe; background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e9e9e9)); background: -webkit-linear-gradient(top, #fefefe, #e9e9e9); background: -moz-linear-gradient(top, #fefefe, #e9e9e9); background: -ms-linear-gradient(top, #fefefe, #e9e9e9); background: -o-linear-gradient(top, #fefefe, #e9e9e9); }

/* line 522, ../../sass/lobby_mockups/lobby.scss */
input.pseudo-focus::-webkit-input-placeholder { color: #ffffff; }

/* line 525, ../../sass/lobby_mockups/lobby.scss */
input.pseudo-focus:-moz-placeholder { color: #ffffff; }

/* line 528, ../../sass/lobby_mockups/lobby.scss */
input.pseudo-focus:-ms-input-placeholder { color: #ffffff; }

/* line 533, ../../sass/lobby_mockups/lobby.scss */
/*input:focus, .section .pseudo-focus { background: #1171b9; color: #FFF; border: none; outline: none; border-top: 1px solid #fff; border-bottom: 1px solid #b7b7b7; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }*/

/* line 545, ../../sass/lobby_mockups/lobby.scss */
input:focus, select:focus { outline: none; }

.section .info {
  text-align: center;
  width: 100%;
  font-style: italic;
  color: #666;
  font-size: 0.9em;
}
/*** Settings End ***/
/*** Search Drop Down ***/
/* line 556, ../../sass/lobby_mockups/lobby.scss */
.create { background: #1171b9; color: #ffffff; border: none; }

/* line 565, ../../sass/lobby_mockups/lobby.scss */
#subnav a.create { color: #FFFFFF; width: 40px; border: none; }

/* line 572, ../../sass/lobby_mockups/lobby.scss */
.search-wrapper { margin-left: auto; margin-right: auto; display: block; margin-top: 30px; width: 400px; position: relative; }

/* line 582, ../../sass/lobby_mockups/lobby.scss */
.search-wrapper button.search-btn { position: absolute; right: 0px; top: 0px; width: 48px; height: 60px;  background: transparent; border: none; }

/* line 595, ../../sass/lobby_mockups/lobby.scss */
.addshadow { -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 2px; box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 2px; z-index: 199; }

/* line 600, ../../sass/lobby_mockups/lobby.scss */
.search-drop { border-top: 1px solid #9d9d9d; z-index: 98; background: #c6c6c6; position: relative; height: 150px; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px; box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px; }

/* line 611, ../../sass/lobby_mockups/lobby.scss */
.search-drop .close { position: absolute; right: 4px; bottom: 4px; }

/* line 620, ../../sass/lobby_mockups/lobby.scss */
.search-wrapper input.pseudo-text {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cecece;

  padding: 5px 30px 5px 5px;
  background: #e6e5e5;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
  color: #5c5c5c;
  width: 400px;
  background: #fff;
   }

   .search-wrapper input.pseudo-text.active {
  background: #fff url('../../images/libraries/select2-spinner.gif') no-repeat 98%;
   }

.search-wrapper input.psuedo-text::-ms-clear {
    display: none;
}

  .search-wrapper button.search-btn
  {

    color:#5c5c5c;
    font-size:20px;
  }

/**** Search Drop Down END ****/
/*** Search Results ***/
/* line 644, ../../sass/lobby_mockups/lobby.scss */
h2.section-heading {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family:lato, sans-serif;
  font-weight: 300;
  color: #5f5f5f;
  font-size: 14px;
  padding: 10px;
  margin-left:30px;
}

.search-result-listing th {
  padding: 25px;
  text-transform:uppercase;
  font-family:Lato,sans-serif;
  color: #adadad;
  width: 50px;
  font-weight: normal;
  font-size: 12px;
  min-width: 50px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.course_search_view td.description {
  padding: 0;
}
.search-result-listing tr.pseudo-hover span.dialog {
  float: right;
  position: absolute;
  -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;
  border: 2px solid #666;
  padding: 5px;
  bottom: 60px;
  right: 5px;
  display: block;
  background-color: #222;
  color: #ddd;
  z-index: 50;
}

.search-result-listing td.description {
  vertical-align: middle;
}

/* used to be on tr.pseudo-hover */
.search-result-listing tr span.action {
  float: right;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #1171b9;
  z-index: 50;
  color: #ffffff;
  right: 20px;
  display: visible;
  display: block;
  text-align: center;
  height: 36px;
  line-height: 36px;
  width: 70px;
  margin-right: 20px;
/*  position: absolute;  This was taken out, and the centering moved above
  top: 50%;              That worked in IE10, so should be fine
  margin-top: auto;
  margin-bottom: auto;
  margin-top: -18px;*/
}

.select2-search input:focus { color: black; }

.dark_list .select2-search input:focus { color: #ffffff; }
/*** course cart **/


.course_cart
{
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#fefefe, #e9e9e9);
  background-image: -moz-linear-gradient(#fefefe, #e9e9e9);
  background-image: -o-linear-gradient(#fefefe, #e9e9e9);
  background-image: linear-gradient(#fefefe, #e9e9e9);
  -webkit-box-shadow: 0px 1px 0px silver;
  -moz-box-shadow: 0px 1px 0px silver;
  box-shadow: 0px 1px 0px silver; padding: 10px;
  margin-bottom: 10px;
  margin: 0px 10px 20px;
  margin-top:10px;
}

.msg_warn
{

  background-image: linear-gradient(bottom, rgb(121,27,27) 44%, rgb(149,45,45) 99%, rgb(255,127,127) 100%);
background-image: -o-linear-gradient(bottom, rgb(121,27,27) 44%, rgb(149,45,45) 99%, rgb(255,127,127) 100%);
background-image: -moz-linear-gradient(bottom, rgb(121,27,27) 44%, rgb(149,45,45) 99%, rgb(255,127,127) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(121,27,27) 44%, rgb(149,45,45) 99%, rgb(255,127,127) 100%);
background-image: -ms-linear-gradient(bottom, rgb(121,27,27) 44%, rgb(149,45,45) 99%, rgb(255,127,127) 100%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.44, rgb(121,27,27)),
  color-stop(0.99, rgb(149,45,45)),
  color-stop(1, rgb(255,127,127))
);
 -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border:1px solid #ad4c19;
  min-height:30px;
  text-align:center;
  color:#ffffff;


   margin-top:10px;
   margin-left:10px;
  margin-right:10px;

}
.msg_caution
{
  background-image: linear-gradient(bottom, rgb(171,71,17) 44%, rgb(209,105,44) 99%, rgb(255,182,65) 100%);
background-image: -o-linear-gradient(bottom, rgb(171,71,17) 44%, rgb(209,105,44) 99%, rgb(255,182,65) 100%);
background-image: -moz-linear-gradient(bottom, rgb(171,71,17) 44%, rgb(209,105,44) 99%, rgb(255,182,65) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(171,71,17) 44%, rgb(209,105,44) 99%, rgb(255,182,65) 100%);
background-image: -ms-linear-gradient(bottom, rgb(171,71,17) 44%, rgb(209,105,44) 99%, rgb(255,182,65) 100%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.44, rgb(171,71,17)),
  color-stop(0.99, rgb(209,105,44)),
  color-stop(1, rgb(255,182,65))
);
 -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border:1px solid #ad4c19;
  min-height:30px;
  text-align:center;
  color:#ffffff;

   margin-top:10px;
   margin-left:10px;
  margin-right:10px;
}

.msg_affirmative
{
  background-image: linear-gradient(bottom, rgb(77,120,27) 44%, rgb(118,162,60) 99%, rgb(197,255,127) 100%);
background-image: -o-linear-gradient(bottom, rgb(77,120,27) 44%, rgb(118,162,60) 99%, rgb(197,255,127) 100%);
background-image: -moz-linear-gradient(bottom, rgb(77,120,27) 44%, rgb(118,162,60) 99%, rgb(197,255,127) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(77,120,27) 44%, rgb(118,162,60) 99%, rgb(197,255,127) 100%);
background-image: -ms-linear-gradient(bottom, rgb(77,120,27) 44%, rgb(118,162,60) 99%, rgb(197,255,127) 100%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.44, rgb(77,120,27)),
  color-stop(0.99, rgb(118,162,60)),
  color-stop(1, rgb(197,255,127))
);
 -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border:1px solid #3c6015;
  min-height:30px;
  text-align:center;
  color:#ffffff;


   margin-top:10px;
   margin-left:10px;
  margin-right:10px;

}

.course_cart .book
{
  position:relative;
  overflow:hidden;
  min-height:150px;
  margin-top:10px;
}

.course_cart .book_item_confirm
{
  position:relative;
  overflow:hidden;
  min-height:130px;

}

.course_cart .order
{
  position:relative;
  overflow:hidden;
  min-height:120px;

}

.course_cart .book_image

{
position:absolute;
  left:10px;
  top:20px;
  border:1px solid #ccc;
  width:100px;
  height:100px;
}

.course_cart .info
{
  position:absolute;
  left:130px;
  top:20px;

}

.course_cart .info h3
{

color: #717171;
padding: 0px;
margin: 0px;

text-transform: uppercase;
font-weight: normal;
font-family: futura, sans-serif;

}



.buy_btn, .confirm_btn, a.return_btn
{

  position: absolute;
right: 80px;
bottom:10px;

cursor: pointer;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background: #1171B9;


color: #ffffff;
border:none;
width:60px;
height:30px;
text-align: center;
}



.confirm_btn
{

width:130px;
right:10px;

}

a.return_btn
{
  display:block;
  right:10px;
  width:150px;
  line-height:30px;
}

/*a.disenroll
{
   position: absolute;
right: 10px;
bottom:10px;
color: #1171B9;
display:block;
height:30px;
line-height:30px;
color:#1171B9;
width:60px;
height:30px;
text-align: center;


}

a.disenroll:hover
{
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background:#8a1818;


color: #ffffff;
border:none;
width:60px;
height:30px;
text-align: center;

}*/

.course_cart  .prices
{
 position: absolute;
right: 10px;
bottom:50px;
font-size:30px;
font-weight:bold;
color:#818080;
width:130px;
text-align:center;
}

.course_cart .description
{
  color:#717171;
  margin-top:5px;
}

.course_cart .detail_price
{
  position: absolute;
right: 10px;
bottom:50px;

color:#818080;
width:130px;
text-align:right;
color:#818080;

}

.item-subtotal
{
  position: absolute;
right: 10px;
bottom:10px;

color:#818080;
width:130px;
text-align:right;
color:#818080;
font-weight:bold;
  font-size:18px;
}

.course_cart .total
{
  font-weight:bold;
  font-size:18px;
}


.cart-item h2
{
  color: #717171;
  margin-left:10px;
text-transform: uppercase;
font-weight: normal;
font-family: futura, sans-serif;
  margin-bottom: 10px;
  margin: 0px 10px 20px;
  margin-top:10px;
  background:#ffffff;
  padding:20px;
}



.course_cart .order h2
{
  margin:0px;
  padding:0px;
  color: #717171;
  margin-left:10px;
text-transform: uppercase;
font-weight: normal;
font-family: futura, sans-serif;
  background:none;
  position:absolute;

  top:10px;
}


.course_cart .order h2 span
{
  font-family: Arial, sans-serif;
  font-size: 12px;
color: #717171;
text-transform: uppercase;

      color:#a4a4a4;


}

.cart-item .book_item_confirm h2
{
  background:none;
  margin:0px;
  padding:0px;
}


.course_cart .aright
{
  text-align:right;
  padding-right:10px;

}

/* sidebar */

#sidebar {
  z-index: 1;
  display: block;
  visibility: hidden;
  width: 263px;
  position: absolute;
  right: 0;
  /*float: right;*/
  overflow-x: hidden;
  /*padding-right: 15px;*/
  /*background-color: #e2e2e2;*/
}

#minimize_sidebar {
  float: left;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  display: inline-block;
  background-color: #b9b9b9;
  color: #e5e5e5;
  text-align: center;
  line-height: 20px;
  margin-top: 15px;
  font-size: 22px;
}

#minimize_sidebar:hover {
  background-color: #1371bb;
}

#sidebar .availability {
  margin-left: 30px;
  margin-right: 10px;
}

body.sidebar_visible.sidebar_minimized #sidebar :not(#minimize_sidebar) {
  visibility: hidden;
}

body.sidebar_visible #sidebar :not(#minimize_sidebar) {
  visibility: visible;
}

body.sidebar_visible #sidebar, body.sidebar_visible.sidebar_minimized #sidebar {
  visibility: visible;
}

body #content {
  position: relative;
  margin-right: 0px;
  overflow-y: auto;
}

body.sidebar_visible #course_content,
body.sidebar_visible .lobby_course_lists,
body.sidebar_visible .course_search_page,
body.sidebar_visible #gradebook_content,
body.sidebar_visible #students_content {
  padding-right: 270px;
}

body.sidebar_visible #wrapper {
  min-width: 955px;
}

body.sidebar_visible.sidebar_minimized #course_content,
body.sidebar_visible.sidebar_minimized .lobby_course_lists,
body.sidebar_visible.sidebar_minimized .course_search_page,
body.sidebar_visible.sidebar_minimized #gradebook_content,
body.sidebar_visible.sidebar_minimized #students_content  {
  padding-right: 40px;
}

.course_view #sidebar {
  width: 0px;
}

body.sidebar_visible .course_view #sidebar {
  width: 273px;
}

body.sidebar_visible.sidebar_minimized #sidebar {
  width: 30px;
}

body.sidebar_visible.sidebar_minimized #wrapper {
  min-width: 650px;
}

/* transitions */
/*#course_content {
  transition: padding-right 0.1s;
  -moz-transition: padding-right 0.1s;
  -webkit-transition: padding-right 0.1s;
  -o-transition: padding-right 0.1s;
}

#sidebar {
  transition: width 0.1s;
  -moz-transition: width 0.1s;
  -webkit-transition: width 0.1s;
  -o-transition: width 0.1s;
  -webkit-transform: scale3d(1,1,1);
}*/
/* end transitions */


/* notifications */
/*#sidebar {
  position: fixed;
  right: 15px;
}*/

#sidebar .notification_view {
  overflow: hidden;
  height: 100%;
  padding: 10px;
  width: 243px;
}

.notification-class-items {
  color: red;
}

.notification_item {
    position: relative;
    padding: 30px 0px 0px;
     background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #5c5c5c;
      -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.notification_item p {
    padding: 0 15px;
    margin: 0;
}

.notification_item .bottom_line {
    padding: 5px 15px 0px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    height: 35px;
}

.notification_item .bottom_line span {
  line-height: 25px;
}

.notification_item .bottom_line span.date {
  float: right;
  padding-right: 10px;
}

.notification_item .bottom_line a {
    /*position: absolute;*/
    display: inline-block;
    font-size: 22px;
    line-height: 25px;
    cursor: pointer;
    color: #fff;
    background: #989898;
    width: 25px;
    border-radius: 2px;
    text-align: center;
    float: right;
}

.notification_item a:hover {
    background: #0C70B4;
}

/* Global Notifications */

.notification_item .notification_header{
  text-align: center;
}

.notification_item .notification_header img {
  padding:0 10px;
}

.notification_item .notification_header h2.notification_title {
  font-family: Arial;
  color: #666464;
  font-weight: bold;
  font-size: 17px;
}

.notification_item .notification_body p{
  font-family: Arial;
  color: #797979;
  line-height: 18px;
  font-size: 13px;
}

.notification_item .notification_link_cont {
  text-align: center;
}

.notification_item .notification_link_cont a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width:160px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  display:block;
  background:#1171b9;
  padding: 10px;
  color:#ffffff;
  font-size:14px;
  text-decoration:none;
  margin-top:10px;
}

.notification_actions {
  text-align: right;
  margin-top: 15px;
  clear: both;
  overflow: hidden;
}

.notification_actions a.close_notification {
  background: url(../../images/icons/notify_close.png) no-repeat 0 0;
  text-indent: 100%;
  overflow: hidden;
  display:block;
  float: right;
  padding: 5px 0;
  width:18px;
  height: 19px;
  margin-right: 5px;
}

a.close_notification:hover {
  background: url(../../images/icons/notify_close.png) no-repeat 0 0;
}

#options_details_expander{
  padding-left: 16px;
}

.impersonating {
  float: left;
  line-height: 70px;
}

.impersonating a {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-shadow: none;
  margin-top: -10px;

}

/* FOOTER */
#footer {
  color: #a5b1bb;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 100%;
  background:#1f252a;
  text-align: center;
  z-index: 9;
  overflow: hidden;
/*
  -moz-transition:height 0.2s;
  -webkit-transition:height 0.2s;
  -o-transition:height 0.2s;
  transition:height 0.2s;*/
}

#footer .panel {
  height: 100%;
  min-width: 80px;
  position: static;
  line-height: 35px;
}

#footer .panel a, #footer .panel div, #footer .panel span {
    margin-left: 5px;
    margin-right: 5px;
}

#footer .panel span {
    cursor: hand; cursor: pointer;
}

#footer .panel a {
    color: inherit;
}

#footer .panel span:hover, #footer .panel a:hover {
    color: #a5b1bb;
}

#footer .panel span.icon:before {
    padding-right: 5px;
}

#footer .panel.students_online {
    font-size: 14px;
    color: #a5b1bb;
}
#footer .panel.students_online span:before {
    color: #9eca51;
}

#footer div.panel.left, #footer span.panel.left {
    float: left;

}

#footer div.panel.right, #footer span.panel.right {
    float: right;

}

#footer div.panel.right:before {
    content: "";
    display: block;
    height: 100%;
    float: left;

}

#footer div.panel.left:before {
    content: "";
    display: block;
    height: 100%;
    float: right;

}

body.student #footer .left.help {
  display: none;
}

/* PT DOWNLOAD LINK MESSAGE */
#presentation_tool .message {
    font-family: lato;
    padding: 25px;
    padding-top: 15px;
    color: #8F8F8F;
}

#presentation_tool .message p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 60px;
}

#presentation_tool .message .actions {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 32px;
}

#presentation_tool .message .actions .button {
    color: white;
    margin-right: 50px;
}

#presentation_tool .message .actions .cancel {
    color: #8F8F8F;
}

/* HEADER PROFILE */

/*** Announcement***/
.announcement {
    float: right;
    position: relative;
    /*width: 200px;
    height: 50px; */
    white-space: nowrap;
    cursor: pointer; cursor: hand;
    right: 100px;
}

.announcement .announcement-summary {
    position: absolute;
    right: 3px;
    top: 19px;
    color: #fff;
    font-size: 12px;
    text-shadow: 0px 1px 1px black;
    margin-right: 8px;

    background-color: #da4f49;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 15px;
}

.announcement-menu {
    padding: 10px;
    font-size: 14px;
}

.announcement-menu h3 {
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}

.announcement-menu h3 div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.announcement-menu p {
    line-height: 1.25;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

.message.icon {
    background-image: url(../../images/edumacation/profiledownarrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 15px;
}

/*** Account Options ***/
.account {
    float: right;
    /*position: relative;*/
    /*width: 105px;*/
    /*height: 30px;*/
    white-space: nowrap;
    cursor: pointer; cursor: hand;
    line-height: 70px;
}

.account .settings {
    position: absolute;
    right: 10px;
    top: 18px;
}

.account .username {
    font-family: Helvetica, Arial, sans;
    color: #a5b1bb;
    font-size: 12px;
    text-shadow: 0px 1px 1px black;
}

.account .username .name {
    margin-right: 8px;
}

.name.icon.profile:before {

    font-size: 20px;
    color: #a5b1bb;
    width: 20px;
    height: 20px;


    padding: 3px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.name.icon.profile {
    background-image: url(../../images/edumacation/profiledownarrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 15px;
}

#add_course:visited {
    color: white;
}

#add_course.opened {
    background: none;
    box-shadow: none;
    color: #666;
}


/* Interactive Guide */
#guide {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9001;
    font-family: lato;
}

#guide canvas {
  pointer-events: none;
}

#guide .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.5;
}

body.guide {
    overflow: hidden;
}

#guide .steps li {
    list-style: none;
    position: absolute;
    display: none;
    color: black;
}

#guide .steps li.inactive {
    opacity: 0.4;
    pointer-events: none;
}

#guide .steps a.button, #guide .steps a.button:visited {
    color: white;
}

#guide .steps a.stop, #guide .steps a.stop:visited {
    /*color: #5c5c5c;
    font-size: 13px;*/
}

#guide .steps .step.outro a.button.walkme, #guide .steps .step.outro a.button.walkme:visited {
    color: #ffffff;
    font-size: 13px;
    background:#1578c2;
}

#guide .steps .step.outro a.button, #guide .steps .step.outro a.button:visited {
  color:#5c5c5c;
  background:none;
}


#guide .steps .intro {
    width: 300px;
    height: 180px;

    background-color: white;
    color: #5c5c5c;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
}

#guide .steps .intro h2, #guide .steps .outro h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

#guide .steps .intro p, #guide .steps .outro p {
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 30px;
}

#guide .steps .intro .actions {
    width: 200px;
    margin: 0 auto;
}

#guide .steps .intro .actions .button {
    margin-right: 40px;
}

#guide .steps .numeric {
    color: white;
    width: 270px;
}

#guide .steps .numeric span.icon {
    float: left;
    height: 170px;
    line-height: 170px;
    width: 70px;
    font-size: 60px;
}

#guide .steps .numeric div.contents {
    float: left;
    width: 200px
}

#guide .steps .numeric div.contents h2{
    float: left;
    font-weight: 400;
    margin-bottom: 0;
}
#guide .steps .numeric div.contents p{
    float: left;
    font-weight: 400;
    font-size: 14px;
    margin-top: 4px;
}

#guide .steps .numerica div.actions .button {
  margin: 0 auto;
}

#guide .steps .outro {
    width: 350px;
    height: 330px;

    background-color: white;
    color: #5c5c5c;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

#guide .steps .outro p {
  text-align: center;
}

#guide .steps .outro .actions a {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

.guide-note {
  font-weight: bold;
}



.guide-tip b {
  font-weight: 300;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

#walkme-menu-closed,  .walkme-launcher-image-div{
    display: none !important;
}

.spinner-container {
    margin-bottom: 16px;
    text-align: center;
}

.loading-error {
    display: block;
    text-align: center;
}
