/* @override http://127.0.0.1:8000/media/css/module_items/module_items.css */

/* @override http://localhost:8000/media/css/edumacation/module_items.css */

.mi_report > .options:last-child {


}

.module_item_content {
    padding: 0px 10px;
}

/* Add spacing for graph reports */
.mi_report .brStacked,
.mi_report .brMulti {
	margin: 10px 0;
}

.mi_report .options {
	margin-bottom:10px;

}
.mi_report .options {
	vertical-align: top;
	position: relative;
	padding: 5px;


}

.mi_report .options > em {

	display: inline-block;
	color: #5c5c5c;
	padding-right: 5px;

	text-align: left;
	line-height: 32px;
	height:32px;
}


.mozilla .mi_report .options > em {

	vertical-align:15px;
}

.ie .mi_report .options > em {

	vertical-align:40%;
}


.sessions_container > em {

}


/* module item reports - should probably be in seperate CSS file at some point */
.mi_report .sessions {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	position:relative;
}
.mi_report .sessions {
	background-color: #FFFFFF;
      background-image: -webkit-linear-gradient(top, #FFFFFF, #f5f7f9);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#f5f7f9));
    background-image: -moz-linear-gradient(top, #FFFFFF, #f5f7f9);
    background-image: -o-linear-gradient(top, #FFFFFF, #f5f7f9);
    background-image: linear,to bottom, #FFFFFF, #f5f7f9;
    -moz-box-shadow: 0 1px 0 #ededed; /* drop shadow */
	-webkit-box-shadow: 0 1px 0 #ededed; /* drop shadow */
	box-shadow: 0 1px 0 #ededed; /* drop shadow */
	-webkit-border-radius:3px;
	  -moz-border-radius:3px;
	  -o-border-radius:3px;
	  -ms-border-radius:3px;
	  border-radius:3px;
	height:32px;

	border: 1px solid #b8c3c9;

}


.mi_report span.icon:before
{
	 content: "\e045";
	color:#5c5c5c;
	position:absolute;
	top:10px;
	left:180px;

}

.ie .mi_report span.icon:before
{
	 content: "\e045";
	display:none;
}

.mozilla .mi_report span.icon:before
{
	 content: "\e045";
	display:none;
}



.mi_report .sessions a,
.mi_report .sessions select {
	line-height:32px;
	height:32px;
	color:#5c5c5c;
	padding-top: 0;
	padding-bottom: 0;
	background:transparent;

}
.mi_report .sessions a {
	border-left: 1px solid #b8c3c9;
	height:32px;
	line-height:32px;
	color:#5c5c5c;
	padding: 0px 15px;
	display:inline-block;
}
/* over selection hack */
.thm_panel_body .mi_report .sessions a:visited
{
	color:#5c5c5c;
}
.mi_report .sessions select {
	float: inline-block;
	border: none;
	margin: 0;
	max-width: 250px;
	min-width: 200px;
	border-radius: 0;
	-webkit-appearance: button;
		-moz-appearance:button;
   		appearance:button;
}

.mozilla .mi_report .sessions select
{
	padding:0px;
	margin:0px;
	height:20px;
    padding-left: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* chrome/safari specific styling for select dropdown */
	.mi_report .sessions select {
		padding-right: 10px;
		padding-left: 5px;
		-webkit-appearance: button;
		-moz-appearance:button;
   		appearance:button;

}
}

.mi_report .types a.graph.icon:before {

    content: "\e02d";
    padding-right:5px;
}
.mi_report .types a.table-report:before {
    content: "\e039";
    padding-right:5px;
}
.mi_report .types a.compare:before {
    content: "\e03c";
    padding-right:5px;
}
.mi_report .types a.side_by_side:before {
    content: "\e03a";
    padding-right:5px;
}

/** Dirty override **/
.mi_report .types a:visited
{
	color:#5c5c5c;
}

.mi_report .types a.numeric {

}
.mi_report .types a.heatmap {

}
.mi_report .types a.wordcloud {

}

.wordcloud-controls label {
    margin-right: 8px;
}

.wordcloud-controls input {
    margin-right: 4px;
}

.mi_report div.status_bars {
	display: table;
	width: 100%;
	margin-top: 10px;
}
.mi_report .math_report p {
    clear: both;
	margin: .5em 0;
	padding: .5em 0;
	font-size: 1.4em;
	border-bottom: 1px solid #e4e1e1;
}
.mi_report .math_report p span {
	padding-left: 10px;
}
.mi_report .math_report p b {
	float: right;
	padding-right: 10px;
}
.mi_report .table_report {
	width: 100%;
}

.table_report td
{
	height:32px;
	line-height:32px;
	border-bottom:1px solid #dddddd;
}
.table_report tr.even
{
	background:#f6f6f6;
}
.report .dataTables_paginate .ui-button {
    border: none;
    cursor: pointer;
}
.report .dataTables_paginate .ui-button.ui-state-disabled .ui-icon {
    background-image: url(../libraries/images/ui-icons_d8e7f3_256x240.png);
}

.mi_report .css_right {
    display: inline-block;
    float: left;
}

.mi_report .correct_checkbox {
    vertical-align: middle;
    padding-top: 10px;
}

/* REPORT COMPARISON */

.mi_report .compare .options > em {
	padding-left: 25px;
	background-image: url(../../images/module_items/compare.png);
	background-position: 4px 50%;
	background-repeat: no-repeat;
}

.mi_report .compare .filters {
	display: inline-block;
}

/* set the widths of compare select menus */
.mi_report .compare .filters > .chzn-container {
	width: 120px !important;
}
.mi_report .compare .filters > .chzn-container:last-child {
    width: 230px !important;
}

.mi_report a {
	color: #4b7ea6;
	font-weight: normal;
	text-decoration: none;
	display: inline-block;
}

.mi_report a:visited {
	color: #4b7ea6;
}

/* HEATMAP */

.heatmap_container {
    position: relative;
    display: inline-block;
}

.heatmap_container>* {
    max-width: 560px;
}

.magnified .heatmap_container>* {
    max-width: none;
}

.heatmap_container img {
    display: block;
    border: 1px solid #bbb;
    border-width: 0px 1px;
}

.heatmap_container .heatmap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.heatmap_correct_answers {
    position: absolute;
    width: 100%;
    height: 100%;
}

.heatmap canvas {
    width: 100%;
    height: 100%;
}

/* tree stuff  */
li.folder > .folder_details a.toggle_hide,
li.folder > .folder_details em span,
.tree.resizable .ui-resizable-handle {

}
.tree li.tree_row {
    position: relative;
}
.tree li.tree_row > div {
    padding-right: 30px; /* make space for actiomenu */
}
.tree li.tree_row .actionmenu {
    position: absolute;
    top: 0;
    right: 0;
}
.student .scheduled
{
	right:22px;
}

/* quick answer setting */
#cId_is_case_sensitive {
	display: inline-block;
	float: left;
	margin: 3px 10px;
}

.answers_warning {
    background:#ffffff;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
}

.answers_warning a {
    margin-top: 15px;
    /*display: inline-block;
    width: 150px;*/
}

code, pre.code  {
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    font-family: monospace;
    background: #f8f8ff;
    padding: 6px 8px;
    border: 1px solid #aaa;
    margin: 0.8em 0;
    word-wrap:break-word;
}
