.panels {
    margin: 0;
    padding: 10px;
}

#mobile .panels {
  padding:0;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.thm_panel {
    position: relative;
    background-color: white;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

.ui-dialog .ui-dialog-content {
    background: white;
    padding: 0 8px;
    height: auto !important; /* todo hughes make dialogs sensible */
}

.ui-dialog .ui-dialog-content .thm_panel_body {
    min-height: 45px;
}

.files_content {
    padding: 0;
}

.thm_panel_header {
    padding: 7px 0;
    width: 100%;
    text-transform: uppercase;
    font-family: lato;
    font-weight: 300;
    font-size: 12px;
    color: #5C5C5C;
}

.thm_panel_body {
    position: relative;
    width: 100%;
    overflow: auto;
}

.ui-dialog .thm_panel_body {
    /* Panels in dialogs do not have to have scrollbars since we scroll the
     * entire dialog in the window. */
    overflow: hidden;
}

.thm_panel_body.thm_panel_top {
    padding-top: 0;
}

.thm_panel_body.thm_panel_bottom {
    padding-bottom: 0;
}

.thm_panel_footer {
    text-align: right;
    width: 100%;
}

.thm_panel_footer.thm_panel_bottom {
    padding: 15px 0 15px 2px;
}

.thm_panel_footer.thm_panel_bottom .btn {
    margin: 0 8px;
}

.thm_panel_hidden .thm_panel_body {
    display: none;
}

.thm_panel_hidden .thm_panel_toolbar {
    display: none;
}

.thm_panel_hidden .thm_panel_footer {
    display: none;
}

.thm_panel.ui-dialog-content {
    list-style: none;
    overflow: hidden;
}
.thm_panel_header.minimize {
    cursor: pointer;
}

.thm_panel_header .buttons {
    display: none;
    position: absolute;
    top: 7px;
    right: 7px;
}

.thm_panel_header.minimize .buttons {
    display: block;
}

.minimize_button {
    height: 15px;
    width: 15px;
    padding: 0px;
    float: right;
    cursor: pointer;
}

.minimize_button:before {
    content: '\e04d';
    color: #5C5C5C;
    font-size: 12px;
}

.thm_panel_hidden .minimize_button:before {
    content: '\e04c';
    color: #5C5C5C;
    font-size: 12px;
}

.thm_panel_toolbar.toolbar_active {
    /* add padding, background, and border if the toolbar is 'active' - if there are elements in it */
    background: #EBECEB;
    border-bottom: 1px solid #AAA;
    padding: 7px 10px 7px 0;
    white-space: nowrap;
}

/* UI UPDATES (July 2, 2013) */
.thm_panel_toolbar,
.thm_panel_toolbar.toolbar_active {
    background-color: white;
    border-bottom: none;
}

.thm_panel_toolbar .icon {
    font-size: 20px;
    text-align: center;
    color: #5C5C5C;
    width: 45px;
    height: 32px;
    line-height: 32px;
}

.thm_panel_toolbar .icon.x {
    font-size: 17px;
    line-height: 30px;
}

.thm_panel_body li.tree_row > div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.thm_panel_body li.tree_row em {
    white-space: pre;
    padding-left: 0px;
}

.thm_panel_body li.tree_row span.status.actionmenu {
    border-left: none;
    background: none;
}
/* UI UPDATES END */

#course_item_selection li.tree_row > div,
.thm_panel_body .course_pack_edit.main li.tree_row > div,
.thm_panel_body .course_pack_import.main li.tree_row > div,
.thm_panel_body .course_pack_create.main li.tree_row > div {
    padding-top: 0px;
    padding-bottom: 0px;
}

#course_item_selection .folder_items.ui-sortable.sortable,
.thm_panel_body .course_pack_edit.main .folder_items.ui-sortable.sortable,
.thm_panel_body .course_pack_import.main .folder_items.ui-sortable.sortable,
.thm_panel_body .course_pack_create.main .folder_items.ui-sortable.sortable {
    padding-top: 10px;
}

#course_item_selection .tree div.selectable a.toggle_hide,
.thm_panel_body .course_pack_edit.main .tree div.selectable a.toggle_hide,
.thm_panel_body .course_pack_import.main .tree div.selectable a.toggle_hide,
.thm_panel_body .course_pack_create.main .tree div.selectable a.toggle_hide {
    position: absolute;
    margin-left: -30px;
    top: 5px;
}

#course_item_selection .app-styles .checkbox,
.thm_panel_body .course_pack_edit.main .app-styles .checkbox,
.thm_panel_body .course_pack_import.main .app-styles .checkbox,
.thm_panel_body .course_pack_create.main .app-styles .checkbox {
    display: block;
    min-height: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    vertical-align: middle;
}

#content .thm_panel_body .response-content p {
    white-space: pre-wrap;
}

#publisher_magnify_dialog .thm_panel_body p {
    font-size: inherit; /* tell the system to overload the default 11px font size with the custom value in a magnify panel */
}

.thm_panel_body a {
    color: #238BD7;
    font-weight: normal;
    text-decoration: none;
}

.thm_panel_content_title {
    color: #555555;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

/* lists */
.thm_panel_body ul.thm_list {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.thm_panel_body ul.thm_list li {
    font-size: 11px;
    margin-bottom: 5px;
}

.thm_panel_body ul.thm_list li:before {
    content: '\00BB \0020';
}

#control .thm_panel .h_color {
    position: absolute;
    top: 15px;
    left: 10px;
}

.thm_panel .h_color {
    position: absolute;
    top: 5px;
    left: 10px;
}

.thm_panel .thm_panel_header h2 {
    white-space: pre;
    padding-left: 30px;
    font-size: inherit;
    font-weight: inherit;
    display: inline;
}

.thm_panel .h_color:before {
    font-size: 16px;
}

.thm_internal_panel .thm_panel .thm_panel_header {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-transform: none;
}

.thm_panel.red .h_color:before {
    background: none;
    color: #F0363E;
    content: '\e062';
    font-size: 18px;
}

/** Default **/
.thm_panel.blue .h_color:before {
    color: #BBC5CE;
}

/** Attendance **/
#control .thm_panel[module_id='attendance'] .h_color:before {
    color: #BBC5CE;
    content: '\e056';
    font-size: 20px;
}

#control .thm_panel[module_id='course'] .h_color:before {
    color: #BBC5CE;
    content: '\e00c';
}

.thm_panel[module_id='gradebook'] .h_color:before {
    color: #BBC5CE;
    content: '\e006';
}

/** Files **/
.thm_panel.light_blue .h_color:before {
    color: #BBC5CE;
    content: '\e05e';
}

.thm_panel.brown .h_color {
    color: #A52A2A;
}

/** Feedback **/
.thm_panel.green .h_color:before {
    color: #36C658;
    content: '\e063';
}

/** Tournament **/
.thm_panel.greener .h_color:before {
    color: #2CB986;
    content: '\e05f';
}

/** Attendance **/
.thm_panel.aqua .h_color:before {
    color: #BBC5CE;
    content: '\e056';
    font-size: 20px;
}

/** Demos **/
.thm_panel.orange .h_color:before {
    color: #E19D3B;
    content: '\e061';
}

/** Pages **/
.thm_panel.grey .h_color:before {
    color: #BBBBBB;
    content: '\e064';
}

/** Discussions **/
.thm_panel.purple .h_color:before {
    color: #9966CC;
    content: '\e02c';
}

.thm_panel.white .h_color {
    color: #FFFFFF;
}

.thm_panel.none .thm_panel_header {
    display: none;
}

.thm_panel.flat {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #BBB;
}
