.dark_list.select2-container .select2-choice
{

border:none;
border-top: 1px solid #4d4d4d;
background: #292929; padding: 5px 10px;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373737), color-stop(100%, #292929));
background-image: -webkit-linear-gradient(#373737, #292929); background-image: -moz-linear-gradient(#373737, #292929);
background-image: -o-linear-gradient(#373737, #292929); background-image: linear-gradient(#373737, #292929);
text-shadow: 0px 1px 1px black;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0px 1px 0px black;
-moz-box-shadow: 0px 1px 0px black;
box-shadow: 0px 1px 0px black;
text-decoration: none;
vertical-align: middle;
height: 22px;

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 0 0 8px;
    color: #ccc;
    text-decoration: none;

}

#course_search_container .dark_list.select2-container .select2-choice
{
    background:#384047;
    -webkit-border-radius: 3px;

-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
height:32px;
line-height:32px;
box-shadow:none;
text-shadow:none;
color:#a5b1bb;
border:none;

}

#course_search_container .dark_list.select2-container .select2-arrow b {
    line-height: 32px;
}

.dark_list.select2-container.select2-drop-above .select2-choice
{


    border-top: 1px solid #4d4d4d;
background: #292929; padding: 5px 10px;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373737), color-stop(100%, #292929));
background-image: -webkit-linear-gradient(#373737, #292929); background-image: -moz-linear-gradient(#373737, #292929);
background-image: -o-linear-gradient(#373737, #292929); background-image: linear-gradient(#373737, #292929);
text-shadow: 0px 1px 1px black;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0px 1px 0px black;
-moz-box-shadow: 0px 1px 0px black;
box-shadow: 0px 1px 0px black;
text-decoration: none;
}

#course_search_container .dark_list.select2-container.select2-drop-above .select2-choice
{
    background:#384047;
    -webkit-border-radius: 3px;

-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
border:none;
text-shadow:none;
color:#a5b1bb;
height:32px;
line-height:32px;
}

.dark_list.select2-drop {
    background: #313030;
    color: #9f9e9e;
    border-bottom:1px solid #474747;
    border-left:none;
    border-right:none;
    border-top: 0;
    position: absolute;
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    z-index: 9999;
    width:100%;
    margin-top:-1px;
    text-shadow: 0px 1px 1px black;

  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.s2course_list.select2-drop
{
    background:#ffffff;
    border:none;
    color:#5c5c5c;
    margin-top:15px;
    padding:15px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #dddddd;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}

.dark_list.select2-container .select2-choice .select2-arrow {

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;

    background-clip: padding-box;

    background: #292929;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373737), color-stop(100%, #292929));
    background-image: -webkit-linear-gradient(#373737, #292929); background-image: -moz-linear-gradient(#373737, #292929);
    background-image: -o-linear-gradient(#373737, #292929); background-image: linear-gradient(#373737, #292929);
    text-shadow: 0px 1px 1px black;
   -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -webkit-box-shadow: 0px 1px 0px black;
    -moz-box-shadow: 0px 1px 0px black;
    box-shadow: 0px 1px 0px black;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 22px;
    border-left: 1px solid #4d4d4d;
}

.dark_list.select2-container .select2-choice .select2-arrow b {
    background: url('../../images/edumacation/darkselect2.png') no-repeat 0 1px;
    display: block;
    width: 100%;
    height: 100%;
}

#course_search_container .dark_list.select2-container .select2-choice span {
    border-left:none;
    font-size: 14px;
}

.s2course_list .select2-results .select2-highlighted
{
    background:#ffffff;
    color:#5c5c5c;
}

#course_search_container .dark_list.select2-container .select2-choice span b {
    background:#384047;
    -webkit-border-radius: 3px;

    text-shadow:none;
    color:#a5b1bb;
    font-size: 10px;
}

#course_search_container .dark_list.select2-container .select2-choice span b:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e045";
}

.dark_list .select2-search input {
    background: #292929 url('../../images/edumacation/darkselect2.png') no-repeat 100% -22px;
      -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  border-radius:3px;

    padding: 4px 20px 4px 5px;
    outline: 0;
    border-top: 1px solid #141414;
    border-bottom: 1px solid #6b6b6b;
    border-left:none;
    border-right:none;
    color:#ffffff;
    font-family: sans-serif;
    font-size: 1em;
    width:100%;
    margin:0;
    height:auto !important;
    min-height: 26px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    margin-top:5px;
    height:30px;

}

.s2course_list .select2-search input {
    margin-top:10px;
}

.dark_list .select2-search input.select2-active

{
  background:#282828 url('../../images/edumacation/eyeofmordor2.gif') no-repeat 100%;
}

.dark_list .select2-results
{
  position:relative;
}
.dark_list .select2-results .select2-no-results
{
    display: list-item;
  font-size:14px;
  background:transparent;

}

.dark_list .select2-more-results.select2-active {
    background: #282828 url('../../images/edumacation/eyeofmordor2.gif') no-repeat 100%;
}

.dark_list.select2-container.select2-container-disabled .select2-choice {
    background-color: #292929;
    background-image: none;
    border:none;
    color:#505050;
    cursor: default;
}

.dark_list.select2-container.select2-container-disabled .select2-choice div b{
    background-color: #292929;
    background-image: none;
    border-left: 0;
}

.dark_list.select2-container.select2-container-active {
    outline: thin dotted #bbb;
}

.dark_list.select2-container.select2-container-active.select2-dropdown-open {
    outline: 0;
}

.dark_list .select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #282828 url('../../images/edumacation/spinner.gif') no-repeat 100% !important;
}

.dark_list .select2-results .select2-no-results,
.dark_list .select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #313030;
}
