/* @override http://127.0.0.1:8000/media/css/edumacation/thm-list.css */

/* @override http://localhost:8000/media/css/edumacation/thm-list.css */

/* @override http://localhost:8000/media/css/edumacation/thm-tree.css */
.thm_tree
{
	font-size: 11px;
	width: 100%;
	font-family: Helvetica Neue, Helvetica, arial, sans;
}
.thm_tree .item > * {
	border-top: 1px solid #eee;
}
.thm_tree .item {
	width: 100%;
    display: table;
    background: #fff;
}
.thm_tree .item > div {
    display: table-cell;
}
.thm_tree .item .status {
	width: 30px;
}
.thm_tree .item .title {
	vertical-align: top;
	line-height: 13px;
	padding: 2px 0;
	padding-left: 4px;
}
.thm_tree .item .details {
	display: none;
}
.thm_tree .item .bt_maxmin {
	display: inline-block;
	width: 12px	;
	height: 12px;
	margin-right: 2px;
	background-image: url(../../images/edumacation/thm_tree/icon_arrow_down.png);
	float: left;
	cursor: pointer;
}
.thm_tree .item .icon_folder {
	display: inline-block;
	width: 12px	;
	height: 12px;
	margin-right: 6px;
	background-image: url(../../images/edumacation/thm_tree/icon_folder.png);
	float: left;
}
.thm_tree .item .icon_folder.maximized {
	background-image: url(../../images/edumacation/thm_tree/icon_open_folder.png);
}
.thm_tree .item .select {
	text-indent: -3000px;
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../../images/edumacation/thm_tree/icon_checkbox.png);
	margin-right: 3px;
	float: left;
	cursor: pointer;
}
.thm_tree .item .select.true {
	background-image: url(../../images/edumacation/thm_tree/icon_checkbox_checked.png);
}
.thm_tree .item .select.mixed {
	background-image: url(../../images/edumacation/thm_tree/icon_checkbox_dash.png);
}


.thm_tree .item[folder]:not([is_label_for_group]) .title { padding-left: 33px; }
.thm_tree .item[folder='']:not([is_label_for_group]) .title { padding-left: 4px; }
.thm_tree .item .bt_maxmin.minimized { background-image: url(../../images/edumacation/thm_tree/icon_arrow_right.png); }

/* disabled effect when status_list is active */
.thm_panel_body.ui-state-disabled {
	opacity: 1;
}
.thm_tree.thm_tree_resize_disabled .thm_tree_list_item table {
	opacity: .3;
}
.thm_tree_list_item.hovered table {
	opacity: 1 !important;
	-webkit-box-shadow: 2px 2px 4px #333;
	-moz-box-shadow: 2px 2px 4px #333;
	box-shadow: 2px 2px 4px #333;
}


/* unanswered items */
.unanswered_items {
	color: #ffffff;
	padding: 10px;
	position:relative;
	background: #eb8655;
	margin-top: 0px;
}
.unanswered_items .description {

	text-align:center;

}
.unanswered_items .link {

}
.unanswered_items .link a {
	display:block;
	width:100px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	font-size: 11px;
	color: #fff;
	background: #f5a34b;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 2px;
	line-height:32px;
	height: 32px;
	text-align:center;
}
.thm_tree .item .title .title_text.callback {
	color: #0544a1;
	cursor: pointer;
}

/* easy_select */
.thm_tree .easy_select_selected .title {
    background-color: #9BF2A7;
    border-color: #228C30;
}

.thm_tree .easy_select_current .title {
    background-color: #f2ecc9 !important;
    border-color: #f2dc5e;
}
/* scrolling */
.thm_tree {
	overflow-y: auto;
	overflow-x: hidden;
}
.thm_tree::-webkit-scrollbar {
	cursor: pointer;
	background-color: #AAA;
	border-radius: 0 3px 3px 0;
	width: 9px;
}
.thm_tree::-webkit-scrollbar-thumb {
	cursor: pointer;
	background-color: #666;
	border-radius: 0 3px 3px 0;
}
