.thm_form_table
{
	border: 0px solid black;
	background-color: transparent;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	table-layout: fixed;

    font-family: Helvetica, Arial
	font-weight: normal;
	font-size: 12px;
	color: #404040;
}

.thm_form_table_body
{
    margin: 0px;
    padding: 0px;
    vertical-align:top;
}

.thm_form_table_section
{
	font-weight: bold;
	width: 70px;
	text-align: right;
	padding: 0px 10px 0px 0px;
}

.thm_form_table_name
{
	width: 70px;
	text-align: right;
    vertical-align:middle;
	padding: 0px 10px 0px 0px;
}

.thm_form_table_item
{
	text-align: left;
}

.thm_form_table_tooltip
{
    width: 19px;
    text-align: right;
    vertical-align: middle;
}

.thm_form_table_error
{
    width: 19px;
    text-align: right;
    vertical-align: middle;
}

.thm_form_list
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.thm_form_list_item
{
    list-style-type: none;
}

.thm_form_text_field
{
	margin: 0px 1px 0px 1px;
	padding: 0px;
}

.thm_form_text_box
{
	margin: 0px 1px 0px 1px;
	padding: 0px;
}

.thm_form_text_field_input
{
	margin: 0px 0px 3px 0px;
	padding: 0px;
	width: 90%;
	color: #404040;
}

.thm_form_text_box_input
{
	margin: 0px 0px 3px 0px;
	padding: 2px;
	width: 90%;
	height: 100px;
	color: #404040;
}

.thm_form_checkbox
{
	margin: 2px 1px 0px 1px;
}

.thm_form_radio
{
	margin: 2px 1px 0px 1px;
}

.thm_form_button_input
{
	margin: 2px 1px 5px 1px;
	width: 100px;
}

.thm_form_dropdown
{
    margin: 0px 1px 0px 1px;
    padding: 0px;
}

.thm_form_dropdown_input
{
	margin: 0px 0px 3px 0px;
    width: 100%;
}

.thm_form_label
{
	margin: 2px 0px 0px 0px;
}
